<!-- 내비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container px-lg-0">
        <a class="navbar-brand" href="{% url 'pybo:home' %}">SKTL Security Potal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    알림마당
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">공지사항</a></li>
                    <li><a class="dropdown-item" href="#">자주하는 질문응답</a></li>
                    <li><a class="dropdown-item" href="#">개인정보 바로알기</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    지원마당
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">방화벽 신청</a></li>
                    <li><a class="dropdown-item" href="#">IT지원요청서</a></li>
                    <li><a class="dropdown-item" href="#">보안 문의</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    자료마당
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="../laws_data">법령자료</a></li>
                    <li><a class="dropdown-item" href="../regulation_data">지침자료</a></li>
                    <li><a class="dropdown-item" href="../SKTL_policy_data">SK텔링크 정책</a></li>
                    <li><a class="dropdown-item" href="../guide_data">가이드 및 매뉴얼</a></li>
                    <li><a class="dropdown-item" href="../trend_data">최신동향</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    보안매거진
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="../magazine_data">뉴스클리핑</a></li>
                    <li><a class="dropdown-item" href="#">이달의 보안소식</a></li>
                    <li><a class="dropdown-item" href="#">알기쉬운 보안용어</a></li>
                    <li><a class="dropdown-item" href="#">개인정보보호 영상</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
